iGerivWebServices/WebContent/WEB-INF/wsdl/inforiv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.dpe.igeriv/inforiv/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://it.dpe.igeriv/inforiv/schemas" targetNamespace="http://it.dpe.igeriv/inforiv/schemas">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:inforiv="http://it.dpe.igeriv/inforiv/schemas" elementFormDefault="qualified" targetNamespace="http://it.dpe.igeriv/inforiv/schemas">
	<xs:element name="EdicolaInforivRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="inforiv:EdicolaInforiv"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EdicolaInforivResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Stato" type="xs:integer"/>
				<xs:element name="Messaggio" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EdicolaInforiv">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:CodFiegDl"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="inforiv:CodFiegDl2"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="inforiv:CodFiegDl3"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:CodEdicolaDl"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="inforiv:CodEdicolaDl2"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="inforiv:CodEdicolaDl3"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:RagioneSociale"/>
				<xs:element ref="inforiv:Indirizzo"/>
				<xs:element ref="inforiv:Localita"/>
				<xs:element ref="inforiv:SiglaProvincia"/>
				<xs:element ref="inforiv:Cap"/>
				<xs:element ref="inforiv:PartitaIva"/>
				<xs:element ref="inforiv:CodiceFiscale"/>
				<xs:element ref="inforiv:Telefono"/>
				<xs:element ref="inforiv:Fax"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:Email"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:FtpHost"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:FtpUser"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="inforiv:FtpPwd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodFiegDl" type="xs:integer"/>
	<xs:element name="CodFiegDl2" type="xs:integer"/>
	<xs:element name="CodFiegDl3" type="xs:integer"/>
	<xs:element name="CodEdicolaDl" type="xs:integer"/>
	<xs:element name="CodEdicolaDl2" type="xs:integer"/>
	<xs:element name="CodEdicolaDl3" type="xs:integer"/>
	<xs:element name="RagioneSociale" type="xs:string"/>
	<xs:element name="Indirizzo" type="xs:string"/>
	<xs:element name="Localita" type="xs:string"/>
	<xs:element name="SiglaProvincia" type="xs:string"/>
	<xs:element name="Cap" type="xs:string"/>
	<xs:element name="PartitaIva" type="xs:string"/>
	<xs:element name="CodiceFiscale" type="xs:string"/>
	<xs:element name="Telefono" type="xs:string"/>
	<xs:element name="Fax" type="xs:string"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="FtpHost" type="xs:string"/>
	<xs:element name="FtpUser" type="xs:string"/>
	<xs:element name="FtpPwd" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="EdicolaInforivResponse">
    <wsdl:part element="tns:EdicolaInforivResponse" name="EdicolaInforivResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EdicolaInforivRequest">
    <wsdl:part element="tns:EdicolaInforivRequest" name="EdicolaInforivRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="it.dpe.igeriv.inforiv">
    <wsdl:operation name="EdicolaInforiv">
      <wsdl:input message="tns:EdicolaInforivRequest" name="EdicolaInforivRequest">
    </wsdl:input>
      <wsdl:output message="tns:EdicolaInforivResponse" name="EdicolaInforivResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="it.dpe.igeriv.inforivSoap11" type="tns:it.dpe.igeriv.inforiv">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EdicolaInforiv">
      <soap:operation soapAction=""/>
      <wsdl:input name="EdicolaInforivRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EdicolaInforivResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="it.dpe.igeriv.inforivService">
    <wsdl:port binding="tns:it.dpe.igeriv.inforivSoap11" name="it.dpe.igeriv.inforivSoap11">
      <soap:address location="http://www.igeriv.it:80/igeriv-ws/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>